html {
    width: 99.5%;
    height: 99.1%;
    border: 3px solid #FFFFCC;
}

html, body {
    background: url("img4.jpg") no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive;
    font-size: 18px;
}


nav {
    position: relative;
    word-wrap: break-word;
}

ul {
    list-style-type: none;
    background-color: rgba(51,153,102,0.5);
    height:100%;
    width: 25%;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    border-right: 2px solid #FFFFCC;
}


li {
    display: block;
    padding: 8px 16px;
    text-align: center;
}


#name {
    font-size: 2em;
}


#my_picture {
    height: 245px;
    width: 175px;
    margin: 0;
    padding: 10px;
    background-color: #FFFFCC;
    border-radius: 100px;
}


#my_picture_li {
    text-align: center;
}


i {
    font-size: 37px;
    color: #FFFFCC;
}

#wrap {
    padding: 10px 0;
    margin: 10px 0;
    outline: 3px double #FFFFCC;
}


main {
   position: absolute;
   left: 26%;
}


h2 {
    width: 250px;
    border-bottom: 2px solid black;
}

@media all and (max-width: 480px) {
    li {
        font-size: 1.5em;
    }
}