{% extends "layout.html" %}

{% block content %}
    <div class="d-flex flex-column align-items-center p-4">
        <h1 class="color-white" style="font-size: 2em">Welcome User to our store!</h1>
        <h2 class="color-white" style="font-size: 1.8em">About us:</h2>
        <p class="text-center color-white" style="font-size: 1.5em">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Nihil consequatur necessitatibus ad repellat! Adipisci rerum ratione quas odio maxime sit! <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Nihil consequatur necessitatibus ad repellat! Adipisci rerum ratione quas odio maxime sit! <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Nihil consequatur necessitatibus ad repellat! Adipisci rerum ratione quas odio maxime sit!
        </p>
    </div>
{% endblock content %}

