<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\static\cv_stylesheet.css" />
    <title>Rita`s CV</title>
  </head>
  <body>
    <nav>
      <ul id="nav_ul">
        <li id="my_picture_li" class="nav_li">
          <img alt="my picture" src="..\static\img.jpg" id="my_picture" />
        </li>
        <li id="name" class="nav_li">Margalit Rita Gretkovich</li>
        <li class="nav_li">Full-Stack Developer</li>
        <div id="wrap">
          <li class="nav_li">05X-XXX-XX-XX</li>
          <li class="nav_li">RXXX1234XXXX@gmail.com</li>
        </div>
        <li class="icon nav_li">
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="icon nav_li">
          <a href="#"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li class="icon nav_li">
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </li>
      </ul>
    </nav>
    <main>
      <h2>My Hobbies</h2>
      <ul>
        <li>Lorem, ipsum dolor sit amet consectetur</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
      </ul>
      <h2>My skills</h2>
      <ul>
        <li>Lorem, ipsum dolor sit amet consectetur</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
      </ul>
      <h2>My strengths</h2>
      <ul>
        <li>Lorem, ipsum dolor sit amet consectetur</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
      </ul>
      <h2>My weaknesses</h2>
      <ul>
        <li>Lorem, ipsum dolor sit amet consectetur</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
      </ul>
    </main>
  </body>
</html>
