html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(224,224,224);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
    padding-bottom: 40px;
    margin: 0;
    background-color: white;
    border-bottom: 2px solid lightgray;
    font-weight: 600;
}

ul {
    padding: 0;
    margin: 0;
} 

li {
    display: inline; 
    padding: 30px 25px;
    margin: 15px 10px;
}

a {
    color: black;
    text-decoration: none;  
}


#rail_logo {
    height: 50px;
    width: 90px;
}

#button {
    padding: 7px 15px;
    color: rgb(0,85,255);
    border: 2.5px solid rgb(0,85,255);
    border-radius: 3px;
}


main {
    text-align: center;
}


#first_section {
    padding: 1% 0 2% 0;
    margin:0;
}

h1 {
    font-size: 1.8em;
}

select {
    border: 2px solid rgb(0,85,255);
    color: rgb(0,85,255);
    padding: 5px;
    background-color: inherit;
}


#main-grid-container {
    margin: 0 5%;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    justify-content: space-around;
    align-content: center;
    gap: 5%;
}


.main-grigs-items {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 70%;
    padding: 5px;
    margin: 0;
}

.first-part-grid-item {
    flex-basis: 100%;
    line-height: 12px;
    background-color: white;
    padding: 10%;
    margin: 0;
}


#first_item_page::before {
    content: "MOST POPULAR";
    padding: 3% 25%;
    background-color: rgb(0,85,255);
    color: white;
}


#most-popular-sing {
    background-color:blue;
    padding: 5%;
    margin: 0;
}

main i {
    font-size: 2.5em;
}

.first_p {
    font-size: 1.3em;
}

.second_p {
    font-size: .8em;
}

.third_p {
    font-size: 1em;
}


.third_p span {
    font-size: 2.2em;
} 


button {
    border: none;
    background-color: lightgreen;
    padding: 3% 10%;
    color: white;
    font-size: 1em;
}

.no_card {
    font-size: .8em;
    color: gray;
}

.features-and-summary {
    flex-basis: 100%;
    color: white;
    text-align: left;
    background-color: rgb(0,102,153);
    padding: 5px;
    margin: 0;
}
