html, body{
    background-color: rgba(255,102,25,0.5);
    padding: 0;
    margin:0;
    font-family: 'Irish Grover', cursive;
    font-size: 18px;
}

nav {
    background-color: rgba(255,242,179,0.5);
    padding: 18px;
    border-bottom: 2px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    padding: 10px;
}

button a {
    color: white;
    text-decoration: none;
}

#duck_icon {
    height: 80px;
    width: 75px;
    padding: 0;
    border: 2px solid white;
    border-radius: 16px;
    margin: 0;
    box-shadow: 2px 2px 8px rgba(0.00,0.00,0.00,0.3);
}

.nav_right {
    float: right;
}

#shopping_cart {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

li button {
    font-family: 'Irish Grover', cursive;
    font-size: 18px;
    background-color: rgba(255,102,25,0.7);
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgba(0.00,0.00,0.00,0.3);
}

li button:hover {
    background-color: rgb(255,102,25);
    cursor: pointer;
}

#shopping_cart {
    font-size: 20px;
}

main {
    text-align: center;
}

.div_img {
    display: inline-block;
    position: relative;
    margin: 10px 5px;
}

.hover_img_wrap {
    position: relative;
}


.hover_img_wrap:hover::before {
    content: " \f004 " " \f07a ";   
    font-family: "Font Awesome 5 Free";
    color: black; 
    font-size: 35px;
    font-weight: 700;
    position: absolute;
    top: 60px;
    left: 75px;
    padding: 2em;
    background-color: rgba(131, 127, 127,0.2);
    z-index: 1;
    border-radius: 7px;
}


.product_img {
    height: 200px;
    width: 200px;
    padding: 30px 60px;
    margin: 20px 30px;
    background-color: white;
    border: 3px solid wheat;
    border-radius: 7px;
}


.product_img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}


.buy_me {
    font-family: 'Irish Grover', cursive;
    font-size: 15px;
    background-color: rgba(255,102,25,0.5);
    border: 3px solid rgb(182, 0, 0);
    padding: 5px 10px;
    border-radius: 7px;
    position: absolute;
    bottom: 30px;
    right: 38px;
}

.buy_me:hover {
    cursor: pointer;
    color: red;
    background-color: yellow;
    border-color: rgb(255, 0, 0);
}


.sale {
    background-color: #E60026;
    font-size: 15px;
    padding: 15px;
    margin: 0;
    border: 2px solid darkred;
    border-radius: 50%;
    position: absolute;
    top: 26px;
    right: 38px;
}

#discount1 , #discount2, #discount3, #discount4 {
    color: rgb(211, 211, 211,0.5);
    /* text-decoration: line-through; */
    font-size: 17px;
}


#discount1::before {
    content: "$3/";
    color: green;
    font-size: 25px;
}


#discount2::before {
    content: "$10/";
    color: green;
    font-size: 25px;
    /* text-decoration: none; */
}

#discount3::before {
    content: "$15/";
    color: green;
    font-size: 25px;
}


#discount4::before {
    content: "$3/";
    color: green;
    font-size: 25px;
}


.new {
    background-color: green;
    font-size: 15px;
    padding: 15px;
    margin: 0;
    border: 2px solid darkgreen;
    border-radius: 50%;
    position: absolute;
    top: 26px;
    left: 33px;
}

.Popular {
    background-color: gold;
    border: 2px solid rgb(232, 248, 7);
    font-size: 16px;
    width: 100px;
    padding: 7px 15px;
    margin: 0;
    position: absolute;
    bottom: 33px;
    left: -15px;
}

p {
    position: absolute;
    bottom: -45px;
    left: 100px;
}


footer {
    clear: bottom;
    text-align: center;
    padding: 50px 25px 0 25px;
}

.div_i {
    display: inline-block;
}

i {
    color: white;
    font-size: 23px;
    padding: 10px;
}

#footer_i i {
    margin: 15px;
    font-size: 15px;
    color: white;
}
